#mainfooter{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-evenly;
    
}
#mainfooter h3{
    margin-top: 50px;
}
#mainfooter p{
    font-family: Times, "Times New Roman", Georgia, serif ;
    font-style: normal;
    font-size: 14px;
    color: #666666;

}